/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Merge One";
  src: url("../public/fonts/MergeOne-Regular.ttf");
}
:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Merge One", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #000;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
  font-family: var(--second-family);
  color: #fff;
}

.tooltip.visible {
  display: block;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: absolute;
  top: 40px;
  z-index: 10;
}
@media screen and (max-width: 1079px) {
  .header {
    top: 20px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1079px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation ol {
  display: flex;
  gap: 45px;
}
.header__navigation ol a {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: color 200ms ease;
}
.header__navigation ol a:hover {
  color: #fffac7;
}

.header__btn {
  width: 120px;
  height: 41px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 105%;
  text-transform: uppercase;
  color: #062649;
  transition: filter 200ms ease;
  position: relative;
  z-index: 21;
}
.header__btn:hover {
  filter: brightness(0.7);
}
.header__btn:active {
  filter: brightness(1);
}

.header__menu {
  width: 100%;
  height: 100vh;
  padding-top: 208px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -200vh;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(17px);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 500ms ease;
  background-size: cover;
  font-family: var(--second-family);
  visibility: hidden;
}

.header__menu.visible {
  top: -20px;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  font-weight: 400;
  font-size: 24px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header__menu-btn {
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  position: relative;
  z-index: 21;
}
@media screen and (max-width: 1079px) {
  .header__menu-btn {
    display: flex;
  }
}
.header__menu-btn div {
  width: 24px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 200ms ease;
}
.header__menu-btn div:nth-of-type(1) {
  width: 16px;
}

.header__menu-btn.close div:nth-of-type(1) {
  width: 100%;
  rotate: -45deg;
  translate: 0 3px;
}
.header__menu-btn.close div:nth-of-type(2) {
  translate: 0 -4px;
  rotate: 45deg;
}

.home {
  min-height: 1090px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url("../public/img/home/home_bg.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1079px) {
  .home {
    min-height: 658px;
  }
}

/*# sourceMappingURL=styles.css.map */
