/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --font-family: "Jockey One", sans-serif;
  --second-family: "Roboto", sans-serif;
  --font3: "Montserrat", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #000;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  width: 341px;
  height: 50px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
  font-size: 24px;
  text-transform: uppercase;
  color: #060606;
}
.tooltip span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  translate: -21px 0;
}
.tooltip svg {
  margin-left: 23px;
}

.tooltip.visible {
  display: flex;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: absolute;
  top: 40px;
  z-index: 10;
}
@media screen and (max-width: 1079px) {
  .header {
    top: 20px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1079px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation ol {
  display: flex;
  gap: 45px;
}
.header__navigation ol a {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: color 200ms ease;
}
.header__navigation ol a:hover {
  color: #fffac7;
}

.header__btn {
  width: 120px;
  height: 41px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 105%;
  text-transform: uppercase;
  color: #062649;
  transition: filter 200ms ease;
  position: relative;
  z-index: 21;
}
.header__btn:hover {
  filter: brightness(0.7);
}
.header__btn:active {
  filter: brightness(1);
}

.header__menu {
  width: 100%;
  height: 100vh;
  padding-top: 208px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -200vh;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(17px);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 500ms ease;
  background-size: cover;
  font-family: var(--second-family);
  visibility: hidden;
}

.header__menu.visible {
  top: -20px;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  font-weight: 400;
  font-size: 24px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header__menu-btn {
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  position: relative;
  z-index: 21;
}
@media screen and (max-width: 1079px) {
  .header__menu-btn {
    display: flex;
  }
}
.header__menu-btn div {
  width: 24px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 200ms ease;
}
.header__menu-btn div:nth-of-type(1) {
  width: 16px;
}

.header__menu-btn.close div:nth-of-type(1) {
  width: 100%;
  rotate: -45deg;
  translate: 0 3px;
}
.header__menu-btn.close div:nth-of-type(2) {
  translate: 0 -4px;
  rotate: 45deg;
}

.home {
  min-height: 1090px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url("../public/img/home/home_bg.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1079px) {
  .home {
    min-height: 658px;
    padding-bottom: 30px;
  }
}

.home__wrap {
  position: relative;
}

.home__socials {
  position: absolute;
  top: 80px;
  left: 50%;
  translate: -60% 0;
  rotate: -3deg;
}
@media screen and (max-width: 1079px) {
  .home__socials {
    position: static;
    translate: 0 0;
    rotate: 0deg;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}
.home__socials a {
  transition: filter 200ms ease;
}
.home__socials a:hover {
  filter: brightness(0.8);
}
.home__socials a:active {
  filter: brightness(1);
}

.about {
  min-height: 954px;
  padding-top: 84px;
  background: #282828;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about {
    min-height: 805px;
    padding-top: 20px;
  }
}
.about:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../public/img/common/bg_effect.png");
  mix-blend-mode: soft-light;
}
.about::after {
  content: "";
  width: 100%;
  height: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
}

.about__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about__title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 52px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .about__title {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 26px;
  }
  .about__title img {
    width: 143px;
  }
}
.about__title span {
  translate: -35% 30%;
}
@media screen and (max-width: 1079px) {
  .about__title span {
    translate: 0 -90%;
  }
}

.about__characters {
  overflow: hidden;
}

.characters__row {
  display: flex;
  transition: translate 600ms ease;
}
.characters__row > div {
  min-width: 100%;
}

.characters__row.move {
  animation: opacity 1000ms linear;
}

.character {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .character {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    min-width: 570px;
    overflow: hidden;
  }
  .character .character__img {
    min-width: 570px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .character .character__img img {
    max-width: 570px;
    max-height: 570px;
    object-fit: cover;
  }
  .character:nth-of-type(2) .character__img img, .character:nth-of-type(5) .character__img img, .character:nth-of-type(7) .character__img img {
    width: 430px;
  }
}

.character__img {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -2;
  user-select: none;
  pointer-events: none;
}

.character__text {
  max-width: 478px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 40px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 0;
}
@media screen and (max-width: 1079px) {
  .character__text {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: static;
  }
  .character__text span {
    max-width: 277px;
    display: block;
  }
  .character__text img {
    width: 75px;
  }
}

.about__toggler::-webkit-scrollbar {
  display: none;
}

.about__toggler {
  display: flex;
  justify-content: center;
  gap: 18px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  translate: -50% 0;
}
@media screen and (max-width: 1079px) {
  .about__toggler {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    max-width: 375px;
    justify-content: start;
  }
}
.about__toggler > div {
  position: relative;
}
@media screen and (max-width: 1079px) {
  .about__toggler > div:nth-of-type(2) img, .about__toggler > div:nth-of-type(5) img {
    bottom: -26px;
  }
}
.about__toggler > div button {
  width: 108px;
  height: 146px;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  user-select: none;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: border 200ms ease;
}
@media screen and (max-width: 1079px) {
  .about__toggler > div button {
    width: 88px;
    height: 106px;
    border-radius: 10px;
  }
}
.about__toggler > div button:hover {
  border-color: #ccc;
}
.about__toggler > div button:focus {
  border-color: #ccc;
}
.about__toggler > div button img {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
@media screen and (max-width: 1079px) {
  .about__toggler > div button img {
    width: 80px;
  }
}
.about__toggler > div.active button {
  width: 125px;
  background-color: #fff;
  transition: all 300ms ease;
}
@media screen and (max-width: 1079px) {
  .about__toggler > div.active button {
    width: 88px;
  }
}
.about__toggler > div.active img {
  scale: 1.4;
}
@media screen and (max-width: 1079px) {
  .about__toggler > div.active img {
    scale: 1.1;
  }
}
.about__toggler > div.active .toggler__name {
  opacity: 1;
  transition: opacity 1500ms ease;
}

.toggler__name {
  font-size: 42px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: -55px;
  left: 0;
  text-wrap: nowrap;
  opacity: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tokenomics {
  padding-top: 100px;
  padding-bottom: 66px;
  background: #1d1d1d;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .tokenomics {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.tokenomics:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../public/img/common/bg_effect.png");
  mix-blend-mode: soft-light;
}
.tokenomics > span {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  display: block;
  font-size: 40px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .tokenomics > span {
    padding-left: 0;
    position: relative;
    z-index: 2;
  }
}

.tokenomics__container {
  width: min(1044px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .tokenomics__container {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column-reverse;
    position: static;
  }
}

.tokenomics__title {
  margin-bottom: 56px;
  margin-left: 305px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 52px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .tokenomics__title {
    margin-bottom: 0;
    margin-left: 0;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 26px;
  }
  .tokenomics__title img {
    width: 143px;
  }
}
.tokenomics__title span {
  translate: -18.5% 30%;
}
@media screen and (max-width: 1079px) {
  .tokenomics__title span {
    translate: 0 -90%;
  }
}

.tokenomics__img {
  position: absolute;
  top: 0;
  left: 0;
  translate: -40% -3.1%;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .tokenomics__img {
    top: auto;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
  }
  .tokenomics__img img {
    min-width: 375px;
  }
}

.tokenomics__statistics::-webkit-scrollbar {
  display: none;
}

.tokenomics__statistics {
  margin-bottom: 100px;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 1300px) {
  .tokenomics__statistics {
    max-width: 100%;
  }
}
@media screen and (max-width: 1079px) {
  .tokenomics__statistics {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    margin-bottom: 283px;
  }
}
.tokenomics__statistics li {
  width: 250px;
  min-height: 180px;
  padding: 25px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: rgba(45, 45, 45, 0.7);
}
@media screen and (max-width: 1079px) {
  .tokenomics__statistics li {
    flex-shrink: 0;
  }
}
.tokenomics__statistics li h3 {
  font-size: 22px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
.tokenomics__statistics li span {
  font-size: 52px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}

.tokenomics__token {
  margin-bottom: 163px;
}
@media screen and (max-width: 1079px) {
  .tokenomics__token {
    margin-bottom: 57px;
  }
}
.tokenomics__token p {
  margin-bottom: 22px;
  font-size: 48px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .tokenomics__token p {
    font-size: 32px;
    text-align: center;
  }
}
.tokenomics__token div {
  padding-left: 90px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .tokenomics__token div {
    padding-left: 0;
  }
}
.tokenomics__token div::before {
  content: url("../public/img/tokenomics/token_bg.png");
  position: absolute;
  top: 0;
  left: 0;
  translate: 13% -35%;
  z-index: -1;
  opacity: 0.05;
}
@media screen and (max-width: 1079px) {
  .tokenomics__token div::before {
    display: none;
  }
}
.tokenomics__token .token__code {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 18px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .tokenomics__token .token__code {
    font-size: 15px;
    word-break: break-all;
    text-align: center;
  }
}
.tokenomics__token .token__copy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .tokenomics__token .token__copy {
    font-size: 24px;
  }
}

.roadmap {
  padding-top: 100px;
  background: #282828;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .roadmap {
    min-height: 1090px;
    padding-top: 20px;
  }
}
.roadmap:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../public/img/common/bg_effect.png");
  mix-blend-mode: soft-light;
}

.roadmap__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1079px) {
  .roadmap__container {
    flex-direction: column;
  }
}

.roadmap__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1079px) {
  .roadmap__left {
    flex-direction: row;
    justify-content: center;
  }
}

.roadmap__img {
  translate: -22% 0;
}
@media screen and (max-width: 1079px) {
  .roadmap__img {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 48px;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    overflow: hidden;
  }
  .roadmap__img > img {
    width: auto;
    height: 488px;
  }
}
@media screen and (max-width: 1079px) and (max-width: 768px) {
  .roadmap__img > img {
    object-fit: cover;
  }
}

.roadmap__text {
  max-width: 408px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 40px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  translate: 15% 25%;
}
@media screen and (max-width: 1279px) {
  .roadmap__text {
    translate: 20% 25%;
  }
}
@media screen and (max-width: 1079px) {
  .roadmap__text {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 30px;
    position: static;
    translate: 0 0;
  }
  .roadmap__text img {
    width: 75px;
  }
  .roadmap__text span {
    display: block;
    max-width: 287px;
  }
}

.roadmap__title {
  width: fit-content;
  margin-bottom: 63px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 52px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .roadmap__title {
    margin-bottom: 0;
    margin-left: 0;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 26px;
  }
  .roadmap__title img {
    width: 143px;
  }
}
.roadmap__title span {
  translate: -25% 30%;
}
@media screen and (max-width: 1079px) {
  .roadmap__title span {
    translate: 0 -90%;
  }
}

.roadmap__schedule {
  margin-top: 50px;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .roadmap__schedule {
    margin-top: 200px;
  }
}
@media screen and (max-width: 1079px) {
  .roadmap__schedule {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.schedule__navigation {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  top: 0;
  left: -32px;
  z-index: 2;
  translate: -100% 0;
}
@media screen and (max-width: 1079px) {
  .schedule__navigation {
    display: none;
  }
}
.schedule__navigation button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 400ms ease;
}
.schedule__navigation button:hover {
  background-color: #fff;
}
.schedule__navigation button:hover svg path {
  transition: stroke 400ms ease;
  stroke: #282828;
}
.schedule__navigation button:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.schedule__navigation button:active svg path {
  stroke: #fff;
}

.schedule__wrap::-webkit-scrollbar {
  display: none;
}

.schedule__wrap {
  max-height: 826px;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .schedule__wrap {
    max-height: 500px;
  }
}
@media screen and (max-width: 1079px) {
  .schedule__wrap {
    max-height: auto;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.schedule__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: translate 400ms ease;
}
@media screen and (max-width: 1079px) {
  .schedule__list {
    flex-direction: row;
    gap: 10px;
  }
}

.event__date {
  width: 334px;
  height: 80px;
  padding: 11px 27px;
  border-radius: 20px 20px 0 0;
  background: #fff;
}
.event__date span {
  font-size: 42px;
}
.event__date span:first-of-type {
  color: #000;
}
.event__date span:last-of-type {
  color: rgba(0, 0, 0, 0.5);
}

.event__list {
  width: 334px;
  min-height: 160px;
  border-radius: 0 0 20px 20px;
  padding: 22px 25px;
  background: #363636;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
