.about {
  min-height: 954px;
  padding-top: 84px;
  background: #282828;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1079px) {
    min-height: 805px;
    padding-top: 20px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../public/img/common/bg_effect.png");
    mix-blend-mode: soft-light;
  }

  &::after {
    content: "";
    width: 100%;
    height: 330px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
  }
}

.about__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about__title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 52px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;

  @media screen and (max-width: 1079px) {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 26px;

    img {
      width: 143px;
    }
  }

  span {
    translate: -35% 30%;

    @media screen and (max-width: 1079px) {
      translate: 0 -90%;
    }
  }
}

.about__characters {
  overflow: hidden;
}

.characters__row {
  display: flex;
  transition: translate 600ms ease;

  & > div {
    min-width: 100%;
  }
}

.characters__row.move {
  animation: opacity 1000ms linear;
}

.character {
  display: flex;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 1079px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    min-width: 570px;
    overflow: hidden;

    .character__img {
      min-width: 570px;
      overflow: hidden;
      flex-shrink: 0;
      img {
        max-width: 570px;
        max-height: 570px;
        object-fit: cover;
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(5),
    &:nth-of-type(7) {
      .character__img {
        img {
          width: 430px;
        }
      }
    }
  }
}

.character__img {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -2;
  user-select: none;
  pointer-events: none;
}

.character__text {
  max-width: 478px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 40px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 0;

  @media screen and (max-width: 1079px) {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: static;

    span {
      max-width: 277px;
      display: block;
    }

    img {
      width: 75px;
    }
  }
}

.about__toggler::-webkit-scrollbar {
  display: none;
}

.about__toggler {
  display: flex;
  justify-content: center;
  gap: 18px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  translate: -50% 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (max-width: 1079px) {
    overflow-x: scroll;
    max-width: 375px;
    justify-content: start;
  }

  & > div {
    position: relative;

    @media screen and (max-width: 1079px) {
      &:nth-of-type(2),
      &:nth-of-type(5) {
        img {
          bottom: -26px;
        }
      }
    }

    button {
      width: 108px;
      height: 146px;
      border-radius: 30px;
      backdrop-filter: blur(30px);
      background: rgba(255, 255, 255, 0.1);
      position: relative;
      overflow: hidden;
      user-select: none;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      transition: border 200ms ease;

      @media screen and (max-width: 1079px) {
        width: 88px;
        height: 106px;
        border-radius: 10px;
      }

      &:hover {
        border-color: #ccc;
      }

      &:focus {
        border-color: #ccc;
      }

      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;

        @media screen and (max-width: 1079px) {
          width: 80px;
        }
      }
    }
  }

  & > div.active {
    button {
      width: 125px;
      background-color: #fff;
      transition: all 300ms ease;

      @media screen and (max-width: 1079px) {
        width: 88px;
      }
    }

    img {
      scale: 1.4;

      @media screen and (max-width: 1079px) {
        scale: 1.1;
      }
    }

    .toggler__name {
      opacity: 1;
      transition: opacity 1500ms ease;
    }
  }
}

.toggler__name {
  font-size: 42px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: -55px;
  left: 0;
  text-wrap: nowrap;
  opacity: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
