.home {
  min-height: 1090px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url("../public/img/home/home_bg.jpg");
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 1079px) {
    min-height: 658px;
    padding-bottom: 30px;
  }
}

.home__wrap {
  position: relative;
}

.home__socials {
  position: absolute;
  top: 80px;
  left: 50%;
  translate: -60% 0;
  rotate: -3deg;

  @media screen and (max-width: 1079px) {
    position: static;
    translate: 0 0;
    rotate: 0deg;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  a {
    transition: filter 200ms ease;
    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(1);
    }
  }
}
