.steps {
  padding-top: 157px;
  padding-bottom: 50px;
  background: #03111a;

  @media screen and (max-width: 1079px) {
    padding-top: 46px;
    padding-bottom: 43px;
  }
}

.steps__container {
  width: min(1320px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.steps__title {
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 47px;
  color: #fff;

  @media screen and (max-width: 1079px) {
    margin-bottom: 46px;
    font-size: 32px;
    text-align: center;
  }
}

.steps__wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  row-gap: 60px;

  @media screen and (max-width: 1079px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.steps__list {
  display: flex;
  flex-direction: column;
}

.steps__item {
  width: fit-content;
  padding: 42px 44px 25px 44px;
  position: relative;

  @media screen and (max-width: 1079px) {
    padding: 37px 23px 12px 23px;
  }

  & > div {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1079px) {
      margin-bottom: 20px;
      justify-content: center;

      a {
        position: absolute;
        top: 45px;
        right: 32px;
      }
    }

    h3 {
      margin-right: auto;
      font-weight: 400;
      font-size: 33px;
      color: #fff;

      @media screen and (max-width: 1079px) {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 30px;
        text-align: center;
      }

      span {
        &:last-of-type {
          margin-left: 13px;
          font-size: 16px;
          background: linear-gradient(92deg, #0cf3a8 0%, #d724fd 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media screen and (max-width: 1079px) {
            margin-left: 0;
            font-size: 20px;
          }
        }
      }
    }

    a {
      transition: scale 200ms ease;
      &:hover {
        scale: 1.1;
      }
      &:active {
        scale: 1;
      }
    }
  }

  p {
    max-width: 298px;
    font-size: 18px;
    color: #fff;

    @media screen and (max-width: 1079px) {
      text-align: center;
    }
  }

  &:first-of-type {
    background-color: #000;
  }
}

.steps__links {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  gap: 24px;

  @media screen and (max-width: 1079px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
    column-gap: 16px;
  }

  h3 {
    font-size: 24px;
    color: #fff;
    align-self: center;

    @media screen and (max-width: 1079px) {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      text-align: center;
    }
  }

  a {
    width: 234px;
    height: 81px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    align-items: center;
    column-gap: 16px;
    border: 1px solid #fff;
    border-radius: 10px;
    opacity: 0.33;
    transition: opacity 200ms ease;

    @media screen and (max-width: 1079px) {
      width: 164px;
      height: 56px;
      border-radius: 7px;
      grid-row: 2 / 3;
    }

    &:first-of-type {
      margin-bottom: 8px;
    }

    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.8;
    }

    img {
      translate: 0 50%;

      @media screen and (max-width: 1079px) {
        width: 26px;
      }
    }
  }
}

.steps-download__name {
  grid-column: 2 / 3;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  translate: 0 8px;

  @media screen and (max-width: 1079px) {
    font-size: 10px;
    translate: 0 5px;
  }
}

.steps-download__rating {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  translate: 0 -8px;

  @media screen and (max-width: 1079px) {
    translate: 0 -5px;
  }

  span {
    &:first-of-type {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 25px;
      color: #fff;

      @media screen and (max-width: 1079px) {
        font-size: 17px;
      }
    }

    &:last-of-type {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 11px;
      color: #fff;

      @media screen and (max-width: 1079px) {
        font-size: 8px;
      }
    }
  }
}

.steps__phone {
  @media screen and (max-width: 1079px) {
    margin-top: 60px;
    margin-bottom: 32px;

    img {
      width: 210px;
    }
  }
}

.steps__reward {
  @media screen and (max-width: 1079px) {
    display: none;
  }
}
