.tokenomics {
  padding-top: 100px;
  padding-bottom: 66px;
  background: #1d1d1d;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1079px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../public/img/common/bg_effect.png");
    mix-blend-mode: soft-light;
  }

  & > span {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 250px;
    display: block;
    font-size: 40px;
    line-height: 105%;
    text-transform: uppercase;
    color: #fff;

    @media screen and (max-width: 1079px) {
      padding-left: 0;
      position: relative;
      z-index: 2;
    }
  }
}

.tokenomics__container {
  width: min(1044px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (max-width: 1079px) {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column-reverse;
    position: static;
  }
}

.tokenomics__title {
  margin-bottom: 56px;
  margin-left: 305px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 52px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;

  @media screen and (max-width: 1079px) {
    margin-bottom: 0;
    margin-left: 0;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 26px;

    img {
      width: 143px;
    }
  }

  span {
    translate: -18.5% 30%;

    @media screen and (max-width: 1079px) {
      translate: 0 -90%;
    }
  }
}

.tokenomics__img {
  position: absolute;
  top: 0;
  left: 0;
  translate: -40% -3.1%;
  z-index: 1;

  @media screen and (max-width: 1079px) {
    top: auto;
    bottom: 0;
    left: 50%;
    translate: -50% 0;

    img {
      min-width: 375px;
    }
  }
}

.tokenomics__statistics::-webkit-scrollbar {
  display: none;
}

.tokenomics__statistics {
  margin-bottom: 100px;
  display: flex;
  gap: 15px;

  @media screen and (max-width: 1300px) {
    max-width: 100%;
  }
  @media screen and (max-width: 1079px) {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    margin-bottom: 283px;
  }

  li {
    width: 250px;
    height: 180px;
    padding: 25px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgba(45, 45, 45, 0.7);

    @media screen and (max-width: 1079px) {
      flex-shrink: 0;
    }

    h3 {
      font-size: 22px;
      line-height: 105%;
      text-transform: uppercase;
      color: #fff;
    }

    span {
      font-size: 52px;
      line-height: 105%;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

.tokenomics__token {
  margin-bottom: 163px;

  @media screen and (max-width: 1079px) {
    margin-bottom: 57px;
  }

  p {
    margin-bottom: 22px;
    font-size: 48px;
    line-height: 105%;
    text-transform: uppercase;
    color: #fff;

    @media screen and (max-width: 1079px) {
      font-size: 32px;
      text-align: center;
    }
  }

  div {
    padding-left: 90px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1079px) {
      padding-left: 0;
    }

    &::before {
      content: url("../public/img/tokenomics/token_bg.png");
      position: absolute;
      top: 0;
      left: 0;
      translate: 13% -35%;
      z-index: -1;
      opacity: 0.05;

      @media screen and (max-width: 1079px) {
        display: none;
      }
    }
  }

  .token__code {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 18px;
    line-height: 105%;
    text-transform: uppercase;
    color: #fff;

    @media screen and (max-width: 1079px) {
      font-size: 15px;
      word-break: break-all;
      text-align: center;
    }
  }
  .token__copy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 105%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;

    @media screen and (max-width: 1079px) {
      font-size: 24px;
    }
  }
}
