@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Jockey One", sans-serif;
  --second-family: "Roboto", sans-serif;
  --font3: "Montserrat", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #000;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  width: 341px;
  height: 50px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
  font-size: 24px;
  text-transform: uppercase;
  color: #060606;

  span {
    margin-left: auto;
    margin-right: auto;
    display: block;
    translate: -21px 0;
  }

  svg {
    margin-left: 23px;
  }
}

.tooltip.visible {
  display: flex;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
